<a href="https://colab.research.google.com/github/Ryzxxl/SparkNLP--NLPTest/blob/main/BBC_NEWS_SparkNLP_NLPTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install -q pyspark==3.3.0 spark-nlp==4.3.2

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.3/281.3 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 473.2/473.2 kB 10.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 7.6 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [2]:
import os
import sys

import sparknlp

from sparknlp.base import *
from sparknlp.common import *
from sparknlp.annotator import *

from pyspark.ml import Pipeline
from pyspark.sql import SparkSession

import pandas as pd
spark = sparknlp.start()

print("Spark NLP version: ", sparknlp.version())
print("Apache Spark version: ", spark.version)

spark

Spark NLP version:  4.3.2
Apache Spark version:  3.3.0

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/data.csv')

In [5]:
spark_df = spark.createDataFrame(data)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [6]:
spark_df.show()

+---------+--------------------+-------------+
|ArticleId|                Text|     Category|
+---------+--------------------+-------------+
|     1833|worldcom ex-boss ...|     business|
|      154|german business c...|     business|
|     1101|bbc poll indicate...|     business|
|     1976|lifestyle  govern...|         tech|
|      917|enron bosses in $...|     business|
|     1582|howard  truanted ...|     politics|
|      651|wales silent on g...|        sport|
|     1797|french honour for...|entertainment|
|     2034|car giant hit by ...|     business|
|     1866|fockers fuel fest...|entertainment|
|     1683|blair rejects ira...|     politics|
|     1153|housewives lift c...|entertainment|
|     1028|uk coal plunges i...|     business|
|      812|bp surges ahead o...|     business|
|      707|ireland 21-19 arg...|        sport|
|     1588|wenger signs new ...|        sport|
|      342|u2 s desire to be...|entertainment|
|      486|hantuchova in dub...|        sport|
|     1344|melzer shocks aga...|        sport|
|     1552|moving mobile imp...|         tech|
+---------+--------------------+-------------+
only showing top 20 rows

In [ ]:
spark_df.take(2)

[Row(ArticleId=1833, Text='worldcom ex-boss launches defence lawyers defending former worldcom chief bernie ebbers against a battery of fraud charges have called a company whistleblower as their first witness.  cynthia cooper  worldcom s ex-head of internal accounting  alerted directors to irregular accounting practices at the us telecoms giant in 2002. her warnings led to the collapse of the firm following the discovery of an $11bn (£5.7bn) accounting fraud. mr ebbers has pleaded not guilty to charges of fraud and conspiracy.  prosecution lawyers have argued that mr ebbers orchestrated a series of accounting tricks at worldcom  ordering employees to hide expenses and inflate revenues to meet wall street earnings estimates. but ms cooper  who now runs her own consulting business  told a jury in new york on wednesday that external auditors arthur andersen had approved worldcom s accounting in early 2001 and 2002. she said andersen had given a  green light  to the procedures and practices used by worldcom. mr ebber s lawyers have said he was unaware of the fraud  arguing that auditors did not alert him to any problems.  ms cooper also said that during shareholder meetings mr ebbers often passed over technical questions to the company s finance chief  giving only  brief  answers himself. the prosecution s star witness  former worldcom financial chief scott sullivan  has said that mr ebbers ordered accounting adjustments at the firm  telling him to  hit our books . however  ms cooper said mr sullivan had not mentioned  anything uncomfortable  about worldcom s accounting during a 2001 audit committee meeting. mr ebbers could face a jail sentence of 85 years if convicted of all the charges he is facing. worldcom emerged from bankruptcy protection in 2004  and is now known as mci. last week  mci agreed to a buyout by verizon communications in a deal valued at $6.75bn.', Category='business'),
 Row(ArticleId=154, Text='german business confidence slides german business confidence fell in february knocking hopes of a speedy recovery in europe s largest economy.  munich-based research institute ifo said that its confidence index fell to 95.5 in february from 97.5 in january  its first decline in three months. the study found that the outlook in both the manufacturing and retail sectors had worsened. observers had been hoping that a more confident business sector would signal that economic activity was picking up.   we re surprised that the ifo index has taken such a knock   said dz bank economist bernd weidensteiner.  the main reason is probably that the domestic economy is still weak  particularly in the retail trade.  economy and labour minister wolfgang clement called the dip in february s ifo confidence figure  a very mild decline . he said that despite the retreat  the index remained at a relatively high level and that he expected  a modest economic upswing  to continue.  germany s economy grew 1.6% last year after shrinking in 2003. however  the economy contracted by 0.2% during the last three months of 2004  mainly due to the reluctance of consumers to spend. latest indications are that growth is still proving elusive and ifo president hans-werner sinn said any improvement in german domestic demand was sluggish. exports had kept things going during the first half of 2004  but demand for exports was then hit as the value of the euro hit record levels making german products less competitive overseas. on top of that  the unemployment rate has been stuck at close to 10% and manufacturing firms  including daimlerchrysler  siemens and volkswagen  have been negotiating with unions over cost cutting measures. analysts said that the ifo figures and germany s continuing problems may delay an interest rate rise by the european central bank. eurozone interest rates are at 2%  but comments from senior officials have recently focused on the threat of inflation  prompting fears that interest rates may rise.', Category='business')]

In [ ]:
from pyspark.sql.functions import col

spark_df.groupBy("Category") \
    .count() \
    .orderBy(col("count").desc()) \
    .show()

+-------------+-----+
|     Category|count|
+-------------+-----+
|        sport|  346|
|     business|  336|
|     politics|  274|
|entertainment|  273|
|         tech|  261|
+-------------+-----+

## Building Classification Pipeline
# LogReg with CountVectorizer

In [7]:
from pyspark.ml.feature import CountVectorizer, HashingTF, IDF, OneHotEncoder, StringIndexer, VectorAssembler, SQLTransformer

In [ ]:
%%time

document_assembler = DocumentAssembler() \
      .setInputCol("Text") \
      .setOutputCol("document")
    
tokenizer = Tokenizer() \
      .setInputCols(["document"]) \
      .setOutputCol("token")
      
normalizer = Normalizer() \
      .setInputCols(["token"]) \
      .setOutputCol("normalized")

stopwords_cleaner = StopWordsCleaner()\
      .setInputCols("normalized")\
      .setOutputCol("cleanTokens")\
      .setCaseSensitive(False)

stemmer = Stemmer() \
      .setInputCols(["cleanTokens"]) \
      .setOutputCol("stem")

finisher = Finisher() \
      .setInputCols(["stem"]) \
      .setOutputCols(["token_features"]) \
      .setOutputAsArray(True) \
      .setCleanAnnotations(False)

countVectors = CountVectorizer(inputCol="token_features", outputCol="features", vocabSize=10000, minDF=5)

label_stringIdx = StringIndexer(inputCol = "Category", outputCol = "label")

nlp_pipeline = Pipeline(
    stages=[document_assembler, 
            tokenizer,
            normalizer,
            stopwords_cleaner, 
            stemmer, 
            finisher,
            countVectors,
            label_stringIdx])

nlp_model = nlp_pipeline.fit(spark_df)

processed = nlp_model.transform(spark_df)

processed.count()

CPU times: user 345 ms, sys: 56.4 ms, total: 402 ms
Wall time: 28.8 s

1490

In [ ]:
processed.select('Text','token_features').show(truncate=50)

+--------------------------------------------------+--------------------------------------------------+
|                                              Text|                                    token_features|
+--------------------------------------------------+--------------------------------------------------+
|worldcom ex-boss launches defence lawyers defen...|[worldcom, exboss, launch, defenc, lawyer, defe...|
|german business confidence slides german busine...|[german, busi, confid, slide, german, busi, con...|
|bbc poll indicates economic gloom citizens in a...|[bbc, poll, indic, econom, gloom, citizen, majo...|
|lifestyle  governs mobile choice  faster  bette...|[lifestyl, govern, mobil, choic, faster, better...|
|enron bosses in $168m payout eighteen former en...|[enron, boss, m, payout, eighteen, former, enro...|
|howard  truanted to play snooker  conservative ...|[howard, truant, plai, snooker, conserv, leader...|
|wales silent on grand slam talk rhys williams s...|[wale, silent, grand, slam, talk, rhy, william,...|
|french honour for director parker british film ...|[french, honour, director, parker, british, fil...|
|car giant hit by mercedes slump a slump in prof...|[car, giant, hit, merced, slump, slump, profit,...|
|fockers fuel festive film chart comedy meet the...|[focker, fuel, festiv, film, chart, comedi, mee...|
|blair rejects iraq advice calls tony blair has ...|[blair, reject, iraq, advic, call, toni, blair,...|
|housewives lift channel 4 ratings the debut of ...|[housew, lift, channel, rate, debut, u, televis...|
|uk coal plunges into deeper loss shares in uk c...|[uk, coal, plung, deeper, loss, share, uk, coal...|
|bp surges ahead on high oil price oil giant bp ...|[bp, surg, ahead, high, oil, price, oil, giant,...|
|ireland 21-19 argentina an injury-time dropped ...|[ireland, argentina, injurytim, drop, goal, ron...|
|wenger signs new deal arsenal manager arsene we...|[wenger, sign, new, deal, arsen, manag, arsen, ...|
|u2 s desire to be number one u2  who have won t...|[u, desir, number, on, u, won, three, prestigi,...|
|hantuchova in dubai last eight daniela hantucho...|[hantuchova, dubai, last, eight, daniela, hantu...|
|melzer shocks agassi in san jose second seed an...|[melzer, shock, agassi, san, jose, second, se, ...|
|moving mobile improves golf swing a mobile phon...|[move, mobil, improv, golf, swing, mobil, phone...|
+--------------------------------------------------+--------------------------------------------------+
only showing top 20 rows

In [ ]:
processed.select('token_features').take(2)

[Row(token_features=['worldcom', 'exboss', 'launch', 'defenc', 'lawyer', 'defend', 'former', 'worldcom', 'chief', 'berni', 'ebber', 'batteri', 'fraud', 'charg', 'call', 'compani', 'whistleblow', 'first', 'wit', 'cynthia', 'cooper', 'worldcom', 'exhead', 'intern', 'account', 'alert', 'director', 'irregular', 'account', 'practic', 'u', 'telecom', 'giant', 'warn', 'led', 'collaps', 'firm', 'follow', 'discoveri', 'bn', 'bn', 'account', 'fraud', 'mr', 'ebber', 'plead', 'guilti', 'charg', 'fraud', 'conspiraci', 'prosecut', 'lawyer', 'argu', 'mr', 'ebber', 'orchestr', 'seri', 'account', 'trick', 'worldcom', 'order', 'employe', 'hide', 'expens', 'inflat', 'revenu', 'meet', 'wall', 'street', 'earn', 'estim', 'm', 'cooper', 'run', 'consult', 'busi', 'told', 'juri', 'new', 'york', 'wednesdai', 'extern', 'auditor', 'arthur', 'andersen', 'approv', 'worldcom', 'account', 'earli', 'said', 'andersen', 'given', 'green', 'light', 'procedur', 'practic', 'us', 'worldcom', 'mr', 'ebber', 'lawyer', 'said', 'unawar', 'fraud', 'argu', 'auditor', 'alert', 'problem', 'm', 'cooper', 'also', 'said', 'sharehold', 'meet', 'mr', 'ebber', 'often', 'pass', 'technic', 'question', 'compani', 'financ', 'chief', 'give', 'brief', 'answer', 'prosecut', 'star', 'wit', 'former', 'worldcom', 'financi', 'chief', 'scott', 'sullivan', 'said', 'mr', 'ebber', 'order', 'account', 'adjust', 'firm', 'tell', 'hit', 'book', 'howev', 'm', 'cooper', 'said', 'mr', 'sullivan', 'mention', 'anyth', 'uncomfort', 'worldcom', 'account', 'audit', 'committe', 'meet', 'mr', 'ebber', 'face', 'jail', 'sentenc', 'year', 'convict', 'charg', 'face', 'worldcom', 'emerg', 'bankruptci', 'protect', 'known', 'mci', 'last', 'week', 'mci', 'agr', 'buyout', 'verizon', 'commun', 'deal', 'valu', 'bn']),
 Row(token_features=['german', 'busi', 'confid', 'slide', 'german', 'busi', 'confid', 'fell', 'februari', 'knock', 'hope', 'speedi', 'recoveri', 'europ', 'largest', 'economi', 'munichbas', 'research', 'institut', 'ifo', 'said', 'confid', 'index', 'fell', 'februari', 'januari', 'first', 'declin', 'three', 'month', 'studi', 'found', 'outlook', 'manufactur', 'retail', 'sector', 'worsen', 'observ', 'hope', 'confid', 'busi', 'sector', 'signal', 'econom', 'activ', 'pick', 're', 'surpris', 'ifo', 'index', 'taken', 'knock', 'said', 'dz', 'bank', 'economist', 'bernd', 'weidenstein', 'main', 'reason', 'probabl', 'domest', 'economi', 'still', 'weak', 'particularli', 'retail', 'trade', 'economi', 'labour', 'minist', 'wolfgang', 'clement', 'call', 'dip', 'februari', 'ifo', 'confid', 'figur', 'mild', 'declin', 'said', 'despit', 'retreat', 'index', 'remain', 'rel', 'high', 'level', 'expect', 'modest', 'econom', 'upsw', 'continu', 'germani', 'economi', 'grew', 'last', 'year', 'shrink', 'howev', 'economi', 'contract', 'last', 'three', 'month', 'mainli', 'due', 'reluct', 'consum', 'spend', 'latest', 'indic', 'growth', 'still', 'prove', 'elus', 'ifo', 'presid', 'hanswern', 'sinn', 'said', 'improv', 'german', 'domest', 'demand', 'sluggish', 'export', 'kept', 'thing', 'go', 'first', 'half', 'demand', 'export', 'hit', 'valu', 'euro', 'hit', 'record', 'level', 'make', 'german', 'product', 'less', 'competit', 'oversea', 'top', 'unemploy', 'rate', 'stuck', 'close', 'manufactur', 'firm', 'includ', 'daimlerchrysl', 'siemen', 'volkswagen', 'negoti', 'union', 'cost', 'cut', 'measur', 'analyst', 'said', 'ifo', 'figur', 'germani', 'continu', 'problem', 'mai', 'delai', 'interest', 'rate', 'rise', 'european', 'central', 'bank', 'eurozon', 'interest', 'rate', 'comment', 'senior', 'offici', 'recent', 'focus', 'threat', 'inflat', 'prompt', 'fear', 'interest', 'rate', 'mai', 'rise'])]

In [ ]:
processed.select('features').take(2)

[Row(features=SparseVector(5188, {0: 5.0, 1: 7.0, 2: 1.0, 3: 1.0, 4: 1.0, 5: 3.0, 7: 1.0, 10: 1.0, 12: 1.0, 13: 1.0, 26: 2.0, 27: 2.0, 32: 3.0, 37: 1.0, 50: 1.0, 68: 1.0, 97: 1.0, 110: 1.0, 112: 1.0, 114: 1.0, 115: 1.0, 116: 1.0, 117: 2.0, 124: 1.0, 135: 1.0, 147: 2.0, 148: 1.0, 152: 1.0, 154: 1.0, 159: 3.0, 163: 3.0, 219: 1.0, 243: 1.0, 256: 3.0, 280: 1.0, 294: 1.0, 305: 7.0, 306: 1.0, 310: 1.0, 314: 2.0, 357: 1.0, 377: 1.0, 379: 1.0, 418: 1.0, 461: 1.0, 521: 1.0, 565: 1.0, 569: 1.0, 588: 2.0, 596: 1.0, 597: 1.0, 609: 1.0, 624: 1.0, 637: 1.0, 639: 1.0, 642: 1.0, 643: 1.0, 663: 1.0, 725: 1.0, 739: 4.0, 807: 1.0, 825: 1.0, 844: 1.0, 851: 1.0, 861: 1.0, 914: 1.0, 920: 1.0, 930: 1.0, 932: 1.0, 958: 1.0, 961: 1.0, 974: 3.0, 984: 1.0, 1050: 1.0, 1071: 1.0, 1078: 1.0, 1109: 1.0, 1111: 1.0, 1209: 2.0, 1232: 2.0, 1234: 9.0, 1243: 2.0, 1288: 1.0, 1299: 1.0, 1310: 2.0, 1315: 1.0, 1372: 1.0, 1404: 4.0, 1405: 7.0, 1495: 1.0, 1498: 1.0, 1622: 1.0, 1667: 2.0, 1679: 1.0, 1739: 2.0, 1740: 1.0, 1968: 1.0, 2030: 1.0, 2151: 1.0, 2229: 1.0, 2317: 1.0, 2365: 1.0, 2558: 1.0, 2691: 1.0, 2849: 1.0, 2920: 1.0, 2934: 2.0, 3030: 1.0, 3092: 1.0, 3324: 1.0, 3353: 1.0, 3410: 1.0, 4076: 1.0, 4276: 1.0, 4880: 1.0})),
 Row(features=SparseVector(5188, {0: 5.0, 2: 1.0, 12: 2.0, 13: 2.0, 14: 1.0, 21: 1.0, 27: 1.0, 39: 1.0, 42: 2.0, 49: 2.0, 53: 1.0, 57: 1.0, 64: 1.0, 65: 2.0, 68: 1.0, 71: 1.0, 74: 1.0, 82: 2.0, 105: 2.0, 107: 1.0, 112: 3.0, 121: 2.0, 124: 1.0, 130: 3.0, 132: 1.0, 134: 4.0, 137: 5.0, 140: 2.0, 143: 1.0, 145: 1.0, 148: 2.0, 154: 1.0, 158: 1.0, 165: 2.0, 174: 1.0, 177: 2.0, 179: 1.0, 186: 2.0, 187: 1.0, 192: 1.0, 193: 1.0, 195: 1.0, 206: 1.0, 214: 1.0, 228: 1.0, 236: 1.0, 238: 1.0, 247: 1.0, 248: 1.0, 269: 1.0, 272: 1.0, 277: 2.0, 303: 1.0, 304: 1.0, 331: 1.0, 346: 1.0, 350: 2.0, 372: 1.0, 385: 1.0, 401: 1.0, 405: 1.0, 414: 1.0, 432: 1.0, 442: 1.0, 445: 1.0, 467: 3.0, 495: 5.0, 544: 1.0, 554: 1.0, 582: 1.0, 604: 1.0, 609: 1.0, 647: 2.0, 650: 1.0, 668: 2.0, 670: 2.0, 686: 1.0, 756: 1.0, 780: 2.0, 793: 1.0, 795: 1.0, 799: 1.0, 806: 2.0, 841: 1.0, 850: 1.0, 853: 1.0, 889: 4.0, 895: 2.0, 931: 1.0, 932: 1.0, 936: 2.0, 948: 1.0, 960: 1.0, 1012: 1.0, 1057: 1.0, 1099: 2.0, 1101: 1.0, 1114: 1.0, 1146: 1.0, 1161: 1.0, 1204: 1.0, 1226: 1.0, 1322: 3.0, 1371: 1.0, 1395: 1.0, 1427: 1.0, 1433: 1.0, 1494: 1.0, 1540: 1.0, 1596: 1.0, 1599: 2.0, 1630: 1.0, 2104: 1.0, 2112: 1.0, 2148: 1.0, 2356: 1.0, 2501: 1.0, 2973: 1.0, 3183: 1.0, 3242: 1.0, 3268: 1.0, 3430: 1.0, 3726: 1.0, 4083: 1.0, 4765: 1.0, 4801: 1.0, 5033: 1.0}))]

In [ ]:
processed.select('Text','features','label').show()

+--------------------+--------------------+-----+
|                Text|            features|label|
+--------------------+--------------------+-----+
|worldcom ex-boss ...|(5188,[0,1,2,3,4,...|  1.0|
|german business c...|(5188,[0,2,12,13,...|  1.0|
|bbc poll indicate...|(5188,[0,2,4,5,6,...|  1.0|
|lifestyle  govern...|(5188,[0,2,3,4,6,...|  4.0|
|enron bosses in $...|(5188,[0,2,3,5,7,...|  1.0|
|howard  truanted ...|(5188,[0,1,4,5,9,...|  2.0|
|wales silent on g...|(5188,[0,9,11,12,...|  0.0|
|french honour for...|(5188,[0,1,4,7,8,...|  3.0|
|car giant hit by ...|(5188,[0,2,3,5,7,...|  1.0|
|fockers fuel fest...|(5188,[0,2,3,4,5,...|  3.0|
|blair rejects ira...|(5188,[0,1,3,8,10...|  2.0|
|housewives lift c...|(5188,[2,7,8,12,1...|  3.0|
|uk coal plunges i...|(5188,[0,1,2,3,5,...|  1.0|
|bp surges ahead o...|(5188,[0,2,3,5,12...|  1.0|
|ireland 21-19 arg...|(5188,[8,9,11,13,...|  0.0|
|wenger signs new ...|(5188,[0,2,3,4,5,...|  0.0|
|u2 s desire to be...|(5188,[0,1,2,3,4,...|  3.0|
|hantuchova in dub...|(5188,[0,4,8,9,12...|  0.0|
|melzer shocks aga...|(5188,[0,9,11,14,...|  0.0|
|moving mobile imp...|(5188,[3,4,9,10,1...|  4.0|
+--------------------+--------------------+-----+
only showing top 20 rows

In [ ]:
(trainingData, testData) = processed.randomSplit([0.75, 0.25], seed = 100)
print("Training Dataset Count: " + str(trainingData.count()))
print("Test Dataset Count: " + str(testData.count()))

Training Dataset Count: 1118
Test Dataset Count: 372

In [ ]:
trainingData.printSchema()

root
 |-- ArticleId: long (nullable = true)
 |-- Text: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- document: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- token: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- normalized: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- cleanTokens: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- stem: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- annotatorType: string (nullable = true)
 |    |    |-- begin: integer (nullable = false)
 |    |    |-- end: integer (nullable = false)
 |    |    |-- result: string (nullable = true)
 |    |    |-- metadata: map (nullable = true)
 |    |    |    |-- key: string
 |    |    |    |-- value: string (valueContainsNull = true)
 |    |    |-- embeddings: array (nullable = true)
 |    |    |    |-- element: float (containsNull = false)
 |-- token_features: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- features: vector (nullable = true)
 |-- label: double (nullable = false)

In [ ]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(regParam=0.1, maxIter=100, elasticNetParam=0.0, family="multinomial")

lrModel = lr.fit(trainingData)

predictions = lrModel.transform(testData)

predictions.filter(predictions['prediction'] == 0) \
    .select("Text","Category","probability","label","prediction") \
    .orderBy("probability", ascending=False) \
    .show(n = 10, truncate = 30)

+------------------------------+--------+------------------------------+-----+----------+
|                          Text|Category|                   probability|label|prediction|
+------------------------------+--------+------------------------------+-----+----------+
|holmes back on form in birm...|   sport|[0.9999992841027223,1.96724...|  0.0|       0.0|
|federer joins all-time grea...|   sport|[0.9999858149757638,2.50011...|  0.0|       0.0|
|ireland surge past scots ir...|   sport|[0.9999525939790581,7.62550...|  0.0|       0.0|
|bridge could miss rest of s...|   sport|[0.9998728016892534,1.91619...|  0.0|       0.0|
|blackburn v burnley ewood p...|   sport|[0.999813916186194,3.389904...|  0.0|       0.0|
|chelsea hold arsenal a grip...|   sport|[0.9997745493449134,6.11558...|  0.0|       0.0|
|preview: ireland v england ...|   sport|[0.9996801798038802,5.75293...|  0.0|       0.0|
|wenger keeping faith with a...|   sport|[0.9996431846417368,3.73588...|  0.0|       0.0|
|a year to remember for iris...|   sport|[0.9996077875091243,2.85020...|  0.0|       0.0|
|dallaglio his own man to th...|   sport|[0.9989899249653453,1.66430...|  0.0|       0.0|
+------------------------------+--------+------------------------------+-----+----------+
only showing top 10 rows

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(predictionCol="prediction")

evaluator.evaluate(predictions)

0.9650001255469579

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
y_true = predictions.select("label")
y_true = y_true.toPandas()

y_pred = predictions.select("prediction")
y_pred = y_pred.toPandas()

In [ ]:
y_pred.prediction.value_counts()

0.0    97
1.0    87
4.0    66
3.0    63
2.0    59
Name: prediction, dtype: int64

In [ ]:
cnf_matrix = confusion_matrix(list(y_true.label.astype(int)), list(y_pred.prediction.astype(int)))
cnf_matrix

array([[96,  0,  1,  0,  0],
       [ 1, 82,  1,  0,  0],
       [ 0,  4, 57,  1,  0],
       [ 0,  0,  0, 59,  1],
       [ 0,  1,  0,  3, 65]])

In [ ]:
print(classification_report(y_true.label, y_pred.prediction))
print(accuracy_score(y_true.label, y_pred.prediction))

              precision    recall  f1-score   support

         0.0       0.99      0.99      0.99        97
         1.0       0.94      0.98      0.96        84
         2.0       0.97      0.92      0.94        62
         3.0       0.94      0.98      0.96        60
         4.0       0.98      0.94      0.96        69

    accuracy                           0.97       372
   macro avg       0.96      0.96      0.96       372
weighted avg       0.97      0.97      0.97       372

0.9650537634408602

In [ ]:
from pyspark.ml.feature import HashingTF, IDF

hashingTF = HashingTF(inputCol="token_features", outputCol="rawFeatures", numFeatures=10000)

idf = IDF(inputCol="rawFeatures", outputCol="features", minDocFreq=5) #minDocFreq: remove sparse terms

nlp_pipeline_tf = Pipeline(
    stages=[document_assembler, 
            tokenizer,
            normalizer,
            stopwords_cleaner, 
            stemmer, 
            finisher,
            hashingTF,
            idf,
            label_stringIdx])

nlp_model_tf = nlp_pipeline_tf.fit(spark_df)

processed_tf = nlp_model_tf.transform(spark_df)

processed_tf.count()

1490

In [ ]:
processed_tf.select('Text','features','label').show()

+--------------------+--------------------+-----+
|                Text|            features|label|
+--------------------+--------------------+-----+
|worldcom ex-boss ...|(10000,[7,63,221,...|  1.0|
|german business c...|(10000,[24,70,203...|  1.0|
|bbc poll indicate...|(10000,[8,140,320...|  1.0|
|lifestyle  govern...|(10000,[7,29,70,1...|  4.0|
|enron bosses in $...|(10000,[15,33,63,...|  1.0|
|howard  truanted ...|(10000,[89,221,26...|  2.0|
|wales silent on g...|(10000,[21,23,154...|  0.0|
|french honour for...|(10000,[312,398,5...|  3.0|
|car giant hit by ...|(10000,[14,116,15...|  1.0|
|fockers fuel fest...|(10000,[328,488,5...|  3.0|
|blair rejects ira...|(10000,[23,70,206...|  2.0|
|housewives lift c...|(10000,[144,253,2...|  3.0|
|uk coal plunges i...|(10000,[63,117,29...|  1.0|
|bp surges ahead o...|(10000,[63,114,15...|  1.0|
|ireland 21-19 arg...|(10000,[30,116,26...|  0.0|
|wenger signs new ...|(10000,[157,288,4...|  0.0|
|u2 s desire to be...|(10000,[7,15,29,3...|  3.0|
|hantuchova in dub...|(10000,[157,195,4...|  0.0|
|melzer shocks aga...|(10000,[7,24,141,...|  0.0|
|moving mobile imp...|(10000,[70,266,56...|  4.0|
+--------------------+--------------------+-----+
only showing top 20 rows

In [ ]:
(trainingData, testData) = processed_tf.randomSplit([0.75, 0.25], seed = 100)
print("Training Dataset Count: " + str(trainingData.count()))
print("Test Dataset Count: " + str(testData.count()))

Training Dataset Count: 1118
Test Dataset Count: 372

In [ ]:
lr2 = LogisticRegression(regParam=0.1, maxIter=100, elasticNetParam=0.0, family="multinomial")

lrModel_tf = lr2.fit(trainingData)

predictions_tf = lrModel_tf.transform(testData)

predictions_tf.select("Text","Category","probability","label","prediction") \
    .orderBy("probability", ascending=False) \
    .show(n = 10, truncate = 30)

+------------------------------+--------+------------------------------+-----+----------+
|                          Text|Category|                   probability|label|prediction|
+------------------------------+--------+------------------------------+-----+----------+
|holmes back on form in birm...|   sport|[0.9999948703345454,3.41985...|  0.0|       0.0|
|federer joins all-time grea...|   sport|[0.9999754262884323,4.60097...|  0.0|       0.0|
|bridge could miss rest of s...|   sport|[0.9997298472999848,4.02940...|  0.0|       0.0|
|llewellyn plans wales retir...|   sport|[0.9995557041948206,3.01338...|  0.0|       0.0|
|ireland surge past scots ir...|   sport|[0.9994834138231586,6.46792...|  0.0|       0.0|
|a year to remember for iris...|   sport|[0.9994205804598082,4.91829...|  0.0|       0.0|
|blackburn v burnley ewood p...|   sport|[0.9993749079711313,1.58398...|  0.0|       0.0|
|chelsea hold arsenal a grip...|   sport|[0.9990608499919214,1.36338...|  0.0|       0.0|
|wenger keeping faith with a...|   sport|[0.9988242459419754,1.44421...|  0.0|       0.0|
|preview: ireland v england ...|   sport|[0.9984163915728447,1.76926...|  0.0|       0.0|
+------------------------------+--------+------------------------------+-----+----------+
only showing top 10 rows

In [ ]:
y_true = predictions_tf.select("label")
y_true = y_true.toPandas()

y_pred = predictions_tf.select("prediction")
y_pred = y_pred.toPandas()

print(classification_report(y_true.label, y_pred.prediction))
print(accuracy_score(y_true.label, y_pred.prediction))

              precision    recall  f1-score   support

         0.0       0.98      1.00      0.99        97
         1.0       0.95      0.98      0.96        84
         2.0       0.98      0.94      0.96        62
         3.0       0.94      0.97      0.95        60
         4.0       0.98      0.94      0.96        69

    accuracy                           0.97       372
   macro avg       0.97      0.96      0.97       372
weighted avg       0.97      0.97      0.97       372

0.967741935483871

## LogReg with Spark NLP Glove Word Embeddings

In [ ]:
document_assembler = DocumentAssembler() \
      .setInputCol("Text") \
      .setOutputCol("document")
    
tokenizer = Tokenizer() \
      .setInputCols(["document"]) \
      .setOutputCol("token")
    
normalizer = Normalizer() \
      .setInputCols(["token"]) \
      .setOutputCol("normalized")

stopwords_cleaner = StopWordsCleaner()\
      .setInputCols("normalized")\
      .setOutputCol("cleanTokens")\
      .setCaseSensitive(False)

glove_embeddings = WordEmbeddingsModel().pretrained() \
      .setInputCols(["document",'cleanTokens'])\
      .setOutputCol("embeddings")\
      .setCaseSensitive(False)

embeddingsSentence = SentenceEmbeddings() \
      .setInputCols(["document", "embeddings"]) \
      .setOutputCol("sentence_embeddings") \
      .setPoolingStrategy("AVERAGE")
    
embeddings_finisher = EmbeddingsFinisher() \
      .setInputCols(["sentence_embeddings"]) \
      .setOutputCols(["finished_sentence_embeddings"]) \
      .setOutputAsVector(True)\
      .setCleanAnnotations(False)

explodeVectors = SQLTransformer(statement=
      "SELECT EXPLODE(finished_sentence_embeddings) AS features, * FROM __THIS__")

label_stringIdx = StringIndexer(inputCol = "Category", outputCol = "label")

nlp_pipeline_w2v = Pipeline(
    stages=[document_assembler, 
            tokenizer,
            normalizer,
            stopwords_cleaner, 
            glove_embeddings,
            embeddingsSentence,
            embeddings_finisher,
            explodeVectors,
            label_stringIdx])

nlp_model_w2v = nlp_pipeline_w2v.fit(spark_df)

processed_w2v = nlp_model_w2v.transform(spark_df)

processed_w2v.count()

glove_100d download started this may take some time.
Approximate size to download 145.3 MB
[OK!]

1490

In [ ]:
processed_w2v.columns

['features',
 'ArticleId',
 'Text',
 'Category',
 'document',
 'token',
 'normalized',
 'cleanTokens',
 'embeddings',
 'sentence_embeddings',
 'finished_sentence_embeddings',
 'label']

In [ ]:
processed_w2v.select('cleanTokens').take(1)

[Row(cleanTokens=[Row(annotatorType='token', begin=0, end=7, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=9, end=14, result='exboss', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=17, end=24, result='launches', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=26, end=32, result='defence', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=34, end=40, result='lawyers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=42, end=50, result='defending', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=52, end=57, result='former', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=59, end=66, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=68, end=72, result='chief', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=74, end=79, result='bernie', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=81, end=86, result='ebbers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=98, end=104, result='battery', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=109, end=113, result='fraud', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=115, end=121, result='charges', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=128, end=133, result='called', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=137, end=143, result='company', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=145, end=157, result='whistleblower', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=168, end=172, result='first', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=174, end=180, result='witness', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=184, end=190, result='cynthia', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=192, end=197, result='cooper', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=200, end=207, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=211, end=216, result='exhead', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=222, end=229, result='internal', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=231, end=240, result='accounting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=243, end=249, result='alerted', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=251, end=259, result='directors', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=264, end=272, result='irregular', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=274, end=283, result='accounting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=285, end=293, result='practices', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=302, end=303, result='us', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=305, end=312, result='telecoms', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=314, end=318, result='giant', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=333, end=340, result='warnings', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=342, end=344, result='led', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=353, end=360, result='collapse', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=369, end=372, result='firm', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=374, end=382, result='following', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=388, end=396, result='discovery', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=404, end=405, result='bn', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=411, end=412, result='bn', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=419, end=428, result='accounting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=430, end=434, result='fraud', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=437, end=438, result='mr', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=440, end=445, result='ebbers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=451, end=457, result='pleaded', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=463, end=468, result='guilty', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=473, end=479, result='charges', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=484, end=488, result='fraud', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=494, end=503, result='conspiracy', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=507, end=517, result='prosecution', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=519, end=525, result='lawyers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=532, end=537, result='argued', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=544, end=545, result='mr', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=547, end=552, result='ebbers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=554, end=565, result='orchestrated', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=569, end=574, result='series', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=579, end=588, result='accounting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=590, end=595, result='tricks', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=600, end=607, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=610, end=617, result='ordering', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=619, end=627, result='employees', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=632, end=635, result='hide', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=637, end=644, result='expenses', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=650, end=656, result='inflate', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=658, end=665, result='revenues', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=670, end=673, result='meet', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=675, end=678, result='wall', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=680, end=685, result='street', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=687, end=694, result='earnings', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=696, end=704, result='estimates', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=711, end=712, result='ms', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=714, end=719, result='cooper', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=730, end=733, result='runs', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=743, end=752, result='consulting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=754, end=761, result='business', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=764, end=767, result='told', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=771, end=774, result='jury', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=779, end=781, result='new', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=783, end=786, result='york', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=791, end=799, result='wednesday', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=806, end=813, result='external', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=815, end=822, result='auditors', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=824, end=829, result='arthur', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=831, end=838, result='andersen', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=844, end=851, result='approved', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=853, end=860, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=864, end=873, result='accounting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=878, end=882, result='early', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=903, end=906, result='said', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=908, end=915, result='andersen', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=921, end=925, result='given', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=930, end=934, result='green', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=936, end=940, result='light', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=950, end=959, result='procedures', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=965, end=973, result='practices', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=975, end=978, result='used', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=983, end=990, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=993, end=994, result='mr', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=996, end=1000, result='ebber', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1004, end=1010, result='lawyers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1017, end=1020, result='said', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1029, end=1035, result='unaware', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1044, end=1048, result='fraud', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1051, end=1057, result='arguing', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1064, end=1071, result='auditors', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1081, end=1085, result='alert', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1098, end=1105, result='problems', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1109, end=1110, result='ms', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1112, end=1117, result='cooper', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1119, end=1122, result='also', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1124, end=1127, result='said', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1141, end=1151, result='shareholder', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1153, end=1160, result='meetings', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1162, end=1163, result='mr', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1165, end=1170, result='ebbers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1172, end=1176, result='often', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1178, end=1183, result='passed', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1190, end=1198, result='technical', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1200, end=1208, result='questions', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1217, end=1223, result='company', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1227, end=1233, result='finance', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1235, end=1239, result='chief', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1242, end=1247, result='giving', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1255, end=1259, result='brief', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1262, end=1268, result='answers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1283, end=1293, result='prosecution', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1297, end=1300, result='star', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1302, end=1308, result='witness', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1311, end=1316, result='former', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1318, end=1325, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1327, end=1335, result='financial', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1337, end=1341, result='chief', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1343, end=1347, result='scott', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1349, end=1356, result='sullivan', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1363, end=1366, result='said', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1373, end=1374, result='mr', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1376, end=1381, result='ebbers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1383, end=1389, result='ordered', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1391, end=1400, result='accounting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1402, end=1412, result='adjustments', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1421, end=1424, result='firm', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1427, end=1433, result='telling', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1443, end=1445, result='hit', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1451, end=1455, result='books', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1459, end=1465, result='however', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1468, end=1469, result='ms', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1471, end=1476, result='cooper', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1478, end=1481, result='said', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1483, end=1484, result='mr', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1486, end=1493, result='sullivan', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1503, end=1511, result='mentioned', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1514, end=1521, result='anything', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1523, end=1535, result='uncomfortable', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1544, end=1551, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1555, end=1564, result='accounting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1580, end=1584, result='audit', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1586, end=1594, result='committee', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1596, end=1602, result='meeting', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1605, end=1606, result='mr', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1608, end=1613, result='ebbers', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1621, end=1624, result='face', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1628, end=1631, result='jail', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1633, end=1640, result='sentence', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1648, end=1652, result='years', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1657, end=1665, result='convicted', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1678, end=1684, result='charges', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1692, end=1697, result='facing', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1700, end=1707, result='worldcom', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1709, end=1715, result='emerged', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1722, end=1731, result='bankruptcy', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1733, end=1742, result='protection', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1764, end=1768, result='known', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1773, end=1775, result='mci', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1778, end=1781, result='last', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1783, end=1786, result='week', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1789, end=1791, result='mci', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1793, end=1798, result='agreed', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1805, end=1810, result='buyout', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1815, end=1821, result='verizon', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1823, end=1836, result='communications', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1843, end=1846, result='deal', metadata={'sentence': '0'}, embeddings=[]), Row(annotatorType='token', begin=1848, end=1853, result='valued', metadata={'sentence': 

In [ ]:
processed_w2v.select('finished_sentence_embeddings').take(1)

[Row(finished_sentence_embeddings=[DenseVector([0.1437, -0.1435, 0.1251, -0.122, 0.0234, -0.0685, -0.0403, 0.0208, -0.2078, -0.0395, 0.2774, 0.1897, 0.0593, 0.1102, -0.1828, -0.2921, 0.106, 0.0407, -0.3182, 0.1434, -0.046, -0.209, 0.1107, 0.1091, -0.1284, -0.1339, 0.1091, -0.1376, -0.2712, -0.0369, 0.3489, 0.317, -0.2112, -0.2237, -0.1914, 0.1335, 0.0601, 0.0699, 0.1367, 0.0045, -0.3001, -0.1923, 0.2107, -0.1359, -0.1833, 0.0642, 0.0434, -0.3502, 0.0429, -0.5357, 0.2422, -0.1395, 0.1654, 0.5328, -0.1822, -1.3902, -0.1226, -0.1377, 1.138, 0.412, -0.1213, 0.1091, -0.1132, 0.0361, 0.3306, -0.3115, 0.3167, 0.4455, 0.2343, 0.1333, -0.1088, -0.0144, -0.3547, -0.2582, 0.0342, -0.2139, -0.0035, -0.0054, -0.7143, -0.0038, 0.7572, -0.0728, -0.0391, 0.0223, -0.9537, -0.3432, 0.0132, -0.0042, -0.043, -0.2652, 0.1228, -0.171, -0.1259, -0.0848, 0.1928, 0.2324, 0.0154, -0.0958, 0.2338, 0.0395])])]

In [ ]:
processed_w2v.select("features").take(1)

[Row(features=DenseVector([0.1437, -0.1435, 0.1251, -0.122, 0.0234, -0.0685, -0.0403, 0.0208, -0.2078, -0.0395, 0.2774, 0.1897, 0.0593, 0.1102, -0.1828, -0.2921, 0.106, 0.0407, -0.3182, 0.1434, -0.046, -0.209, 0.1107, 0.1091, -0.1284, -0.1339, 0.1091, -0.1376, -0.2712, -0.0369, 0.3489, 0.317, -0.2112, -0.2237, -0.1914, 0.1335, 0.0601, 0.0699, 0.1367, 0.0045, -0.3001, -0.1923, 0.2107, -0.1359, -0.1833, 0.0642, 0.0434, -0.3502, 0.0429, -0.5357, 0.2422, -0.1395, 0.1654, 0.5328, -0.1822, -1.3902, -0.1226, -0.1377, 1.138, 0.412, -0.1213, 0.1091, -0.1132, 0.0361, 0.3306, -0.3115, 0.3167, 0.4455, 0.2343, 0.1333, -0.1088, -0.0144, -0.3547, -0.2582, 0.0342, -0.2139, -0.0035, -0.0054, -0.7143, -0.0038, 0.7572, -0.0728, -0.0391, 0.0223, -0.9537, -0.3432, 0.0132, -0.0042, -0.043, -0.2652, 0.1228, -0.171, -0.1259, -0.0848, 0.1928, 0.2324, 0.0154, -0.0958, 0.2338, 0.0395]))]

In [ ]:
processed_w2v.select('Text','features','label').show()

+--------------------+--------------------+-----+
|                Text|            features|label|
+--------------------+--------------------+-----+
|worldcom ex-boss ...|[0.14365777373313...|  1.0|
|german business c...|[0.04885630682110...|  1.0|
|bbc poll indicate...|[-0.0909639447927...|  1.0|
|lifestyle  govern...|[-0.1047650575637...|  4.0|
|enron bosses in $...|[0.25210666656494...|  1.0|
|howard  truanted ...|[-0.0044781574979...|  2.0|
|wales silent on g...|[-0.1021427735686...|  0.0|
|french honour for...|[0.03469001874327...|  3.0|
|car giant hit by ...|[0.12876743078231...|  1.0|
|fockers fuel fest...|[0.01742288284003...|  3.0|
|blair rejects ira...|[-0.1817228943109...|  2.0|
|housewives lift c...|[0.12551599740982...|  3.0|
|uk coal plunges i...|[-0.0331566482782...|  1.0|
|bp surges ahead o...|[0.09505154192447...|  1.0|
|ireland 21-19 arg...|[-0.0510397553443...|  0.0|
|wenger signs new ...|[0.10450825840234...|  0.0|
|u2 s desire to be...|[-0.0528848618268...|  3.0|
|hantuchova in dub...|[-0.0381293855607...|  0.0|
|melzer shocks aga...|[-0.0061821932904...|  0.0|
|moving mobile imp...|[-0.1420650780200...|  4.0|
+--------------------+--------------------+-----+
only showing top 20 rows

In [ ]:
(trainingData, testData) = processed_w2v.randomSplit([0.75, 0.25], seed = 100)
print("Training Dataset Count: " + str(trainingData.count()))
print("Test Dataset Count: " + str(testData.count()))

Training Dataset Count: 1118
Test Dataset Count: 372

In [ ]:
## By removing such rows, we can optimize the performance of our machine learning algorithms, as we can skip the computation for those rows where the features vector is all zeros.
from pyspark.sql.functions import udf

@udf("long")
def num_nonzeros(v):
    return v.numNonzeros()

testData = testData.where(num_nonzeros("features") != 0)

In [ ]:
lrModel_w2v = lr.fit(trainingData)

In [ ]:
predictions_w2v = lrModel_w2v.transform(testData)

predictions_w2v.select("Text","Category","probability","label","prediction") \
    .orderBy("probability", ascending=False) \
    .show(n = 10, truncate = 30)

+------------------------------+--------+------------------------------+-----+----------+
|                          Text|Category|                   probability|label|prediction|
+------------------------------+--------+------------------------------+-----+----------+
|benitez issues warning to g...|   sport|[0.999354628677034,1.305838...|  0.0|       0.0|
|gerrard plays down european...|   sport|[0.9977441826873454,8.25964...|  0.0|       0.0|
|cudicini misses carling cup...|   sport|[0.9974225551750332,5.30672...|  0.0|       0.0|
|wilkinson return  unlikely ...|   sport|[0.9969352814994883,5.32838...|  0.0|       0.0|
|england given tough sevens ...|   sport|[0.9963728653818645,0.00172...|  0.0|       0.0|
|slovakia reach hopman cup f...|   sport|[0.9960847622257419,3.83563...|  0.0|       0.0|
|sydney return for henin-har...|   sport|[0.9949767349285513,0.00108...|  0.0|       0.0|
|desailly backs blues reveng...|   sport|[0.994739305804544,0.002234...|  0.0|       0.0|
|benitez deflects blame from...|   sport|[0.9940629891613629,0.00206...|  0.0|       0.0|
|ferguson rues failure to cu...|   sport|[0.9940306447964251,0.00182...|  0.0|       0.0|
+------------------------------+--------+------------------------------+-----+----------+
only showing top 10 rows

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
import pandas as pd

y_true = predictions_w2v.select("label")
y_true = y_true.toPandas()

y_pred = predictions_w2v.select("prediction")
y_pred = y_pred.toPandas()

print(classification_report(y_true.label, y_pred.prediction))
print(accuracy_score(y_true.label, y_pred.prediction))

              precision    recall  f1-score   support

         0.0       0.99      1.00      0.99        79
         1.0       0.93      0.94      0.94        87
         2.0       0.96      0.93      0.94        69
         3.0       0.98      1.00      0.99        59
         4.0       0.97      0.96      0.97        78

    accuracy                           0.97       372
   macro avg       0.97      0.97      0.97       372
weighted avg       0.97      0.97      0.96       372

0.9650537634408602

In [ ]:
processed_w2v.select('Text','cleanTokens.result').show(truncate=50)

+--------------------------------------------------+--------------------------------------------------+
|                                              Text|                                            result|
+--------------------------------------------------+--------------------------------------------------+
|worldcom ex-boss launches defence lawyers defen...|[worldcom, exboss, launches, defence, lawyers, ...|
|german business confidence slides german busine...|[german, business, confidence, slides, german, ...|
|bbc poll indicates economic gloom citizens in a...|[bbc, poll, indicates, economic, gloom, citizen...|
|lifestyle  governs mobile choice  faster  bette...|[lifestyle, governs, mobile, choice, faster, be...|
|enron bosses in $168m payout eighteen former en...|[enron, bosses, m, payout, eighteen, former, en...|
|howard  truanted to play snooker  conservative ...|[howard, truanted, play, snooker, conservative,...|
|wales silent on grand slam talk rhys williams s...|[wales, silent, grand, slam, talk, rhys, willia...|
|french honour for director parker british film ...|[french, honour, director, parker, british, fil...|
|car giant hit by mercedes slump a slump in prof...|[car, giant, hit, mercedes, slump, slump, profi...|
|fockers fuel festive film chart comedy meet the...|[fockers, fuel, festive, film, chart, comedy, m...|
|blair rejects iraq advice calls tony blair has ...|[blair, rejects, iraq, advice, calls, tony, bla...|
|housewives lift channel 4 ratings the debut of ...|[housewives, lift, channel, ratings, debut, us,...|
|uk coal plunges into deeper loss shares in uk c...|[uk, coal, plunges, deeper, loss, shares, uk, c...|
|bp surges ahead on high oil price oil giant bp ...|[bp, surges, ahead, high, oil, price, oil, gian...|
|ireland 21-19 argentina an injury-time dropped ...|[ireland, argentina, injurytime, dropped, goal,...|
|wenger signs new deal arsenal manager arsene we...|[wenger, signs, new, deal, arsenal, manager, ar...|
|u2 s desire to be number one u2  who have won t...|[u, desire, number, one, u, won, three, prestig...|
|hantuchova in dubai last eight daniela hantucho...|[hantuchova, dubai, last, eight, daniela, hantu...|
|melzer shocks agassi in san jose second seed an...|[melzer, shocks, agassi, san, jose, second, see...|
|moving mobile improves golf swing a mobile phon...|[moving, mobile, improves, golf, swing, mobile,...|
+--------------------------------------------------+--------------------------------------------------+
only showing top 20 rows

## LogReg with Spark NLP Bert Embeddings

In [ ]:
document_assembler = DocumentAssembler() \
      .setInputCol("Text") \
      .setOutputCol("document")
    
tokenizer = Tokenizer() \
      .setInputCols(["document"]) \
      .setOutputCol("token")
    
normalizer = Normalizer() \
      .setInputCols(["token"]) \
      .setOutputCol("normalized")

stopwords_cleaner = StopWordsCleaner()\
      .setInputCols("normalized")\
      .setOutputCol("cleanTokens")\
      .setCaseSensitive(False)

bert_embeddings = BertEmbeddings.pretrained('bert_base_cased', 'en') \
      .setInputCols(["document",'cleanTokens'])\
      .setOutputCol("bert")\
      .setCaseSensitive(False)\

embeddingsSentence = SentenceEmbeddings() \
      .setInputCols(["document", "bert"]) \
      .setOutputCol("sentence_embeddings") \
      .setPoolingStrategy("AVERAGE")
    
embeddings_finisher = EmbeddingsFinisher() \
      .setInputCols(["sentence_embeddings"]) \
      .setOutputCols(["finished_sentence_embeddings"]) \
      .setOutputAsVector(True)\
      .setCleanAnnotations(False)

label_stringIdx = StringIndexer(inputCol = "Category", outputCol = "label")

nlp_pipeline_bert = Pipeline(
    stages=[document_assembler, 
            tokenizer,
            normalizer,
            stopwords_cleaner, 
            bert_embeddings,
            embeddingsSentence,
            embeddings_finisher,
            label_stringIdx])
nlp_model_bert = nlp_pipeline_bert.fit(spark_df)
processed_bert = nlp_model_bert.transform(spark_df)

bert_base_cased download started this may take some time.
Approximate size to download 389.1 MB
[OK!]

In [ ]:
from pyspark.sql.functions import explode

processed_bert = processed_bert.withColumn("features", explode(processed_bert.finished_sentence_embeddings))

processed_bert.select('Text','features','label').show()

+--------------------+--------------------+-----+
|                Text|            features|label|
+--------------------+--------------------+-----+
|worldcom ex-boss ...|[0.17285257577896...|  1.0|
|german business c...|[-0.1185487955808...|  1.0|
|bbc poll indicate...|[-0.1185369566082...|  1.0|
|lifestyle  govern...|[0.19791017472743...|  4.0|
|enron bosses in $...|[9.24773456063121...|  1.0|
|howard  truanted ...|[0.18108294904232...|  2.0|
|wales silent on g...|[0.02165658958256...|  0.0|
|french honour for...|[0.05820161849260...|  3.0|
|car giant hit by ...|[0.18970946967601...|  1.0|
|fockers fuel fest...|[0.02853241935372...|  3.0|
|blair rejects ira...|[0.00927552208304...|  2.0|
|housewives lift c...|[0.09813518077135...|  3.0|
|uk coal plunges i...|[0.02478078566491...|  1.0|
|bp surges ahead o...|[-0.0316127724945...|  1.0|
|ireland 21-19 arg...|[0.11042474955320...|  0.0|
|wenger signs new ...|[-0.0729556754231...|  0.0|
|u2 s desire to be...|[0.00726967584341...|  3.0|
|hantuchova in dub...|[0.01314486376941...|  0.0|
|melzer shocks aga...|[0.19350753724575...|  0.0|
|moving mobile imp...|[0.08530847728252...|  4.0|
+--------------------+--------------------+-----+
only showing top 20 rows

In [ ]:
# set seed for reproducibility
(trainingData, testData) = processed_bert.randomSplit([0.75, 0.25], seed = 100)

# print("Training Dataset Count: " + str(trainingData.count()))
# print("Test Dataset Count: " + str(testData.count()))

In [ ]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(regParam=0.1, maxIter=100, elasticNetParam=0.0, family="multinomial")

lrModel = lr.fit(trainingData)

In [ ]:
from pyspark.sql.functions import udf

@udf("long")
def num_nonzeros(v):
    return v.numNonzeros()

testData = testData.where(num_nonzeros("features") != 0)

In [ ]:
predictions = lrModel.transform(testData)

predictions.select("Text","category","probability","label","prediction") \
    .orderBy("probability", ascending=False) \
    .show(n = 10, truncate = 30)

+------------------------------+--------+------------------------------+-----+----------+
|                          Text|category|                   probability|label|prediction|
+------------------------------+--------+------------------------------+-----+----------+
|stevens named in england li...|   sport|[0.9992222137802227,4.02181...|  0.0|       0.0|
|hodgson shoulders england b...|   sport|[0.9990033886768118,3.57715...|  0.0|       0.0|
|benitez deflects blame from...|   sport|[0.9987627531098847,4.01127...|  0.0|       0.0|
|barcelona title hopes hit b...|   sport|[0.998441711498892,7.708451...|  0.0|       0.0|
|ferrero eyes return to top ...|   sport|[0.9981155879744107,5.75670...|  0.0|       0.0|
|ferguson rues failure to cu...|   sport|[0.9981094680320829,4.40219...|  0.0|       0.0|
|federer breezes into semi-f...|   sport|[0.9980688978023965,4.51704...|  0.0|       0.0|
|liverpool pledge to keep ge...|   sport|[0.9980453847539553,2.87808...|  0.0|       0.0|
|williams battles to aussie ...|   sport|[0.9979036424392147,5.53103...|  0.0|       0.0|
|chelsea hold arsenal a grip...|   sport|[0.9977699560896186,4.55306...|  0.0|       0.0|
+------------------------------+--------+------------------------------+-----+----------+
only showing top 10 rows

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
import pandas as pd

In [ ]:
df = predictions.select('Text','category','label','prediction').toPandas()

In [ ]:
print(classification_report(df.label, df.prediction))
print(accuracy_score(df.label, df.prediction))

              precision    recall  f1-score   support

         0.0       0.99      0.98      0.98        97
         1.0       0.90      0.93      0.91        84
         2.0       0.92      0.90      0.91        62
         3.0       0.93      0.95      0.94        60
         4.0       0.96      0.93      0.94        69

    accuracy                           0.94       372
   macro avg       0.94      0.94      0.94       372
weighted avg       0.94      0.94      0.94       372

0.9408602150537635

# ElmoEmbeddings + LogReg

In [ ]:
document_assembler = DocumentAssembler() \
      .setInputCol("Text") \
      .setOutputCol("document")
    
tokenizer = Tokenizer() \
      .setInputCols(["document"]) \
      .setOutputCol("token")
    
normalizer = Normalizer() \
      .setInputCols(["token"]) \
      .setOutputCol("normalized")

stopwords_cleaner = StopWordsCleaner()\
      .setInputCols("normalized")\
      .setOutputCol("cleanTokens")\
      .setCaseSensitive(False)

elmo_embeddings = ElmoEmbeddings.pretrained()\
      .setPoolingLayer("word_emb")\
      .setInputCols(["document",'cleanTokens'])\
      .setOutputCol("elmo")

embeddingsSentence = SentenceEmbeddings() \
      .setInputCols(["document", "elmo"]) \
      .setOutputCol("sentence_embeddings") \
      .setPoolingStrategy("AVERAGE")
    
embeddings_finisher = EmbeddingsFinisher() \
      .setInputCols(["sentence_embeddings"]) \
      .setOutputCols(["finished_sentence_embeddings"]) \
      .setOutputAsVector(True)\
      .setCleanAnnotations(False)

label_stringIdx = StringIndexer(inputCol = "Category", outputCol = "label")


nlp_pipeline_elmo = Pipeline(
    stages=[document_assembler, 
            tokenizer,
            normalizer,
            stopwords_cleaner, 
            elmo_embeddings,
            embeddingsSentence,
            embeddings_finisher,
            label_stringIdx])

nlp_model_elmo = nlp_pipeline_elmo.fit(spark_df)
processed_elmo = nlp_model_elmo.transform(spark_df)
processed_elmo.count()

elmo download started this may take some time.
Approximate size to download 334.1 MB
[OK!]

1490

In [9]:
(trainingData, testData) = spark_df.randomSplit([0.7, 0.3], seed = 100)

In [ ]:
processed_trainingData = nlp_model_elmo.transform(trainingData)

In [ ]:
processed_trainingData.count()

1053

In [ ]:
processed_testData = nlp_model_elmo.transform(testData)

processed_testData.count()

437

In [ ]:
processed_trainingData.columns

['ArticleId',
 'Text',
 'Category',
 'document',
 'token',
 'normalized',
 'cleanTokens',
 'elmo',
 'sentence_embeddings',
 'finished_sentence_embeddings',
 'label']

In [ ]:
processed_trainingData.select('cleanTokens', 'document', 'elmo', 'sentence_embeddings').show(truncate = 50)

+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+
|                                       cleanTokens|                                          document|                                              elmo|                               sentence_embeddings|
+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+
|[{token, 0, 7, worldcom, {sentence -> 0}, []}, ...|[{document, 0, 1841, worldcom boss  left books ...|[{word_embeddings, 0, 7, worldcom, {isOOV -> fa...|[{sentence_embeddings, 0, 1841, worldcom boss  ...|
|[{token, 0, 5, berlin, {sentence -> 0}, []}, {t...|[{document, 0, 1818, berlin cheers for anti-naz...|[{word_embeddings, 0, 5, berlin, {isOOV -> fals...|[{sentence_embeddings, 0, 1818, berlin cheers f...|
|[{token, 0, 3, moya, {sentence -> 0}, []}, {tok...|[{document, 0, 2410, moya emotional after davis...|[{word_embeddings, 0, 3, moya, {isOOV -> false,...|[{sentence_embeddings, 0, 2410, moya emotional ...|
|[{token, 0, 6, connors, {sentence -> 0}, []}, {...|[{document, 0, 2375, connors boost for british ...|[{word_embeddings, 0, 6, connors, {isOOV -> fal...|[{sentence_embeddings, 0, 2375, connors boost f...|
|[{token, 0, 7, japanese, {sentence -> 0}, []}, ...|[{document, 0, 1730, japanese banking battle at...|[{word_embeddings, 0, 7, japanese, {isOOV -> fa...|[{sentence_embeddings, 0, 1730, japanese bankin...|
|[{token, 0, 5, mobile, {sentence -> 0}, []}, {t...|[{document, 0, 3774, mobile audio enters new di...|[{word_embeddings, 0, 5, mobile, {isOOV -> fals...|[{sentence_embeddings, 0, 3774, mobile audio en...|
|[{token, 0, 3, moya, {sentence -> 0}, []}, {tok...|[{document, 0, 1218, moya fights back for india...|[{word_embeddings, 0, 3, moya, {isOOV -> false,...|[{sentence_embeddings, 0, 1218, moya fights bac...|
|[{token, 0, 4, royal, {sentence -> 0}, []}, {to...|[{document, 0, 2844, royal couple watch nation ...|[{word_embeddings, 0, 4, royal, {isOOV -> false...|[{sentence_embeddings, 0, 2844, royal couple wa...|
|[{token, 0, 6, firefox, {sentence -> 0}, []}, {...|[{document, 0, 3717, firefox browser takes on m...|[{word_embeddings, 0, 6, firefox, {isOOV -> fal...|[{sentence_embeddings, 0, 3717, firefox browser...|
|[{token, 0, 5, debate, {sentence -> 0}, []}, {t...|[{document, 0, 2997, debate needed  on donation...|[{word_embeddings, 0, 5, debate, {isOOV -> fals...|[{sentence_embeddings, 0, 2997, debate needed  ...|
|[{token, 0, 5, german, {sentence -> 0}, []}, {t...|[{document, 0, 1539, german growth goes into re...|[{word_embeddings, 0, 5, german, {isOOV -> fals...|[{sentence_embeddings, 0, 1539, german growth g...|
|[{token, 0, 7, jamieson, {sentence -> 0}, []}, ...|[{document, 0, 2928, jamieson issues warning to...|[{word_embeddings, 0, 7, jamieson, {isOOV -> fa...|[{sentence_embeddings, 0, 2928, jamieson issues...|
|[{token, 0, 6, england, {sentence -> 0}, []}, {...|[{document, 0, 1300, england children s tsar ap...|[{word_embeddings, 0, 6, england, {isOOV -> fal...|[{sentence_embeddings, 0, 1300, england childre...|
|[{token, 0, 4, stock, {sentence -> 0}, []}, {to...|[{document, 0, 991, stock market eyes japan rec...|[{word_embeddings, 0, 4, stock, {isOOV -> false...|[{sentence_embeddings, 0, 991, stock market eye...|
|[{token, 0, 4, court, {sentence -> 0}, []}, {to...|[{document, 0, 1445, court rejects $280bn tobac...|[{word_embeddings, 0, 4, court, {isOOV -> false...|[{sentence_embeddings, 0, 1445, court rejects $...|
|[{token, 0, 4, india, {sentence -> 0}, []}, {to...|[{document, 0, 1031, india power shares jump on...|[{word_embeddings, 0, 4, india, {isOOV -> false...|[{sentence_embeddings, 0, 1031, india power sha...|
|[{token, 0, 8, microsoft, {sentence -> 0}, []},...|[{document, 0, 1379, microsoft gets the bloggin...|[{word_embeddings, 0, 8, microsoft, {isOOV -> f...|[{sentence_embeddings, 0, 1379, microsoft gets ...|
|[{token, 0, 3, tech, {sentence -> 0}, []}, {tok...|[{document, 0, 3585, tech helps disabled speed ...|[{word_embeddings, 0, 3, tech, {isOOV -> false,...|[{sentence_embeddings, 0, 3585, tech helps disa...|
|[{token, 0, 0, o, {sentence -> 0}, []}, {token,...|[{document, 0, 1110, o driscoll out of scotland...|[{word_embeddings, 0, 0, o, {isOOV -> false, pi...|[{sentence_embeddings, 0, 1110, o driscoll out ...|
|[{token, 0, 4, coach, {sentence -> 0}, []}, {to...|[{document, 0, 1042, coach ranieri sacked by va...|[{word_embeddings, 0, 4, coach, {isOOV -> false...|[{sentence_embeddings, 0, 1042, coach ranieri s...|
+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+--------------------------------------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import explode

processed_testData= processed_testData.withColumn("features", explode(processed_testData.finished_sentence_embeddings))

processed_trainingData= processed_trainingData.withColumn("features", explode(processed_trainingData.finished_sentence_embeddings))

In [ ]:
from pyspark.sql.functions import udf

@udf("long")
def num_nonzeros(v):
    return v.numNonzeros()

processed_testData = processed_testData.where(num_nonzeros("features") != 0)

In [ ]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(maxIter=20, regParam=0.3, elasticNetParam=0)

lrModel = lr.fit(processed_trainingData)

In [ ]:
predictions = lrModel.transform(processed_testData)

predictions.select("Text","category","probability","label","prediction") \
    .orderBy("probability", ascending=False) \
    .show(10, truncate = 30)

+------------------------------+--------+------------------------------+-----+----------+
|                          Text|category|                   probability|label|prediction|
+------------------------------+--------+------------------------------+-----+----------+
|benitez issues warning to g...|   sport|[0.9968600008576672,1.51449...|  0.0|       0.0|
|hodgson shoulders england b...|   sport|[0.9947468416520254,0.00103...|  0.0|       0.0|
|barcelona title hopes hit b...|   sport|[0.994580509495302,0.001386...|  0.0|       0.0|
|england claim dubai sevens ...|   sport|[0.9939821734152283,0.00146...|  0.0|       0.0|
|benitez deflects blame from...|   sport|[0.9939744658722092,0.00119...|  0.0|       0.0|
|hearts of oak 3-2 cotonspor...|   sport|[0.9925993854893356,0.00111...|  0.0|       0.0|
|robinson answers critics en...|   sport|[0.9917527157668187,0.00125...|  0.0|       0.0|
|injury sidelines philippous...|   sport|[0.9916379483207169,9.90806...|  0.0|       0.0|
|bridge could miss rest of s...|   sport|[0.9911932551813057,0.00115...|  0.0|       0.0|
|chelsea hold arsenal a grip...|   sport|[0.9887878947164013,0.00301...|  0.0|       0.0|
+------------------------------+--------+------------------------------+-----+----------+
only showing top 10 rows

In [ ]:
from sklearn.metrics import classification_report, accuracy_score

df = predictions.select('Text','category','label','prediction').toPandas()
print(classification_report(df.label, df.prediction))
print(accuracy_score(df.label, df.prediction))

              precision    recall  f1-score   support

         0.0       1.00      0.99      1.00       113
         1.0       0.94      0.96      0.95        97
         2.0       0.93      0.96      0.95        74
         3.0       0.94      0.94      0.94        72
         4.0       0.96      0.93      0.94        81

    accuracy                           0.96       437
   macro avg       0.96      0.96      0.96       437
weighted avg       0.96      0.96      0.96       437

0.9588100686498856

In [ ]:
df

,Text,category,label,prediction
0,s korean credit card firm rescued south korea ...,business,1.0,1.0
1,gamers snap up new sony psp gamers have bought...,tech,4.0,4.0
2,row threatens hendrix museum plan proposals to...,entertainment,3.0,2.0
3,federer claims dubai crown world number one ro...,sport,0.0,0.0
4,telegraph newspapers axe 90 jobs the daily and...,business,1.0,2.0
...,...,...,...,...
367,jones files conte lawsuit marion jones has fil...,sport,0.0,0.0
368,lopez misses uk charity premiere jennifer lope...,entertainment,3.0,3.0
369,progress on new internet domains by early 2005...,tech,4.0,4.0
370,davies favours gloucester future wales hooker ...,sport,0.0,0.0
371,cars pull down us retail figures us retail sal...,business,1.0,1.0

# ClassifierDL + Glove + Preprocess

In [ ]:
document = DocumentAssembler()\
    .setInputCol("Text")\
    .setOutputCol("document")

tokenizer = Tokenizer() \
      .setInputCols(["document"]) \
      .setOutputCol("token")

lemma = LemmatizerModel.pretrained('lemma_antbnc') \
      .setInputCols(["token"]) \
      .setOutputCol("lemma")
      
glove_embeddings = WordEmbeddingsModel().pretrained() \
      .setInputCols(["document",'lemma'])\
      .setOutputCol("embeddings")\
      .setCaseSensitive(False)

lemma_pipeline = Pipeline(
    stages=[document, 
            tokenizer,
            lemma,
            glove_embeddings])

lemma_antbnc download started this may take some time.
Approximate size to download 907.6 KB
[OK!]
glove_100d download started this may take some time.
Approximate size to download 145.3 MB
[OK!]

In [ ]:
(trainingData, testData) = spark_df.randomSplit([0.75, 0.25], seed = 100)

lemma_pipeline.fit(trainingData).transform(trainingData).show(truncate=30)

+---------+------------------------------+-------------+------------------------------+------------------------------+------------------------------+------------------------------+
|ArticleId|                          Text|     Category|                      document|                         token|                         lemma|                    embeddings|
+---------+------------------------------+-------------+------------------------------+------------------------------+------------------------------+------------------------------+
|        2|worldcom boss  left books a...|     business|[{document, 0, 1841, worldc...|[{token, 0, 7, worldcom, {s...|[{token, 0, 7, worldcom, {s...|[{word_embeddings, 0, 7, wo...|
|       11|berlin cheers for anti-nazi...|entertainment|[{document, 0, 1818, berlin...|[{token, 0, 5, berlin, {sen...|[{token, 0, 5, berlin, {sen...|[{word_embeddings, 0, 5, be...|
|       15|moya emotional after davis ...|        sport|[{document, 0, 2410, moya e...|[{token, 0, 3, moya, {sente...|[{token, 0, 3, moya, {sente...|[{word_embeddings, 0, 3, mo...|
|       18|connors boost for british t...|        sport|[{document, 0, 2375, connor...|[{token, 0, 6, connors, {se...|[{token, 0, 6, connors, {se...|[{word_embeddings, 0, 6, co...|
|       19|japanese banking battle at ...|     business|[{document, 0, 1730, japane...|[{token, 0, 7, japanese, {s...|[{token, 0, 7, japanese, {s...|[{word_embeddings, 0, 7, ja...|
|       25|mobile audio enters new dim...|         tech|[{document, 0, 3774, mobile...|[{token, 0, 5, mobile, {sen...|[{token, 0, 5, mobile, {sen...|[{word_embeddings, 0, 5, mo...|
|       26|moya fights back for indian...|        sport|[{document, 0, 1218, moya f...|[{token, 0, 3, moya, {sente...|[{token, 0, 3, moya, {sente...|[{word_embeddings, 0, 3, mo...|
|       31|royal couple watch nation s...|     politics|[{document, 0, 2844, royal ...|[{token, 0, 4, royal, {sent...|[{token, 0, 4, royal, {sent...|[{word_embeddings, 0, 4, ro...|
|       32|firefox browser takes on mi...|         tech|[{document, 0, 3717, firefo...|[{token, 0, 6, firefox, {se...|[{token, 0, 6, firefox, {se...|[{word_embeddings, 0, 6, fi...|
|       39|debate needed  on donations...|     politics|[{document, 0, 2997, debate...|[{token, 0, 5, debate, {sen...|[{token, 0, 5, debate, {sen...|[{word_embeddings, 0, 5, de...|
|       40|german growth goes into rev...|     business|[{document, 0, 1539, german...|[{token, 0, 5, german, {sen...|[{token, 0, 5, german, {sen...|[{word_embeddings, 0, 5, ge...|
|       46|franz man seeks government ...|entertainment|[{document, 0, 7535, franz ...|[{token, 0, 4, franz, {sent...|[{token, 0, 4, franz, {sent...|[{word_embeddings, 0, 4, fr...|
|       47|jamieson issues warning to ...|     politics|[{document, 0, 2928, jamies...|[{token, 0, 7, jamieson, {s...|[{token, 0, 7, jamieson, {s...|[{word_embeddings, 0, 7, ja...|
|       49|england children s tsar app...|     politics|[{document, 0, 1300, englan...|[{token, 0, 6, england, {se...|[{token, 0, 6, england, {se...|[{word_embeddings, 0, 6, en...|
|       50|stock market eyes japan rec...|     business|[{document, 0, 991, stock m...|[{token, 0, 4, stock, {sent...|[{token, 0, 4, stock, {sent...|[{word_embeddings, 0, 4, st...|
|       53|standard life cuts policy b...|     business|[{document, 0, 1862, standa...|[{token, 0, 7, standard, {s...|[{token, 0, 7, standard, {s...|[{word_embeddings, 0, 7, st...|
|       63|court rejects $280bn tobacc...|     business|[{document, 0, 1445, court ...|[{token, 0, 4, court, {sent...|[{token, 0, 4, court, {sent...|[{word_embeddings, 0, 4, co...|
|       65|india power shares jump on ...|     business|[{document, 0, 1031, india ...|[{token, 0, 4, india, {sent...|[{token, 0, 4, india, {sent...|[{word_embeddings, 0, 4, in...|
|       69|microsoft gets the blogging...|         tech|[{document, 0, 1379, micros...|[{token, 0, 8, microsoft, {...|[{token, 0, 8, microsoft, {...|[{word_embeddings, 0, 8, mi...|
|       76|tech helps disabled speed d...|         tech|[{document, 0, 3585, tech h...|[{token, 0, 3, tech, {sente...|[{token, 0, 3, tech, {sente...|[{word_embeddings, 0, 3, te...|
+---------+------------------------------+-------------+------------------------------+------------------------------+------------------------------+------------------------------+
only showing top 20 rows

In [ ]:
document_assembler = DocumentAssembler() \
      .setInputCol("Text") \
      .setOutputCol("document")
    
tokenizer = Tokenizer() \
      .setInputCols(["document"]) \
      .setOutputCol("token")
    
normalizer = Normalizer() \
      .setInputCols(["token"]) \
      .setOutputCol("normalized")

stopwords_cleaner = StopWordsCleaner()\
      .setInputCols("normalized")\
      .setOutputCol("cleanTokens")\
      .setCaseSensitive(False)

lemma = LemmatizerModel.pretrained('lemma_antbnc') \
      .setInputCols(["cleanTokens"]) \
      .setOutputCol("lemma")

glove_embeddings = WordEmbeddingsModel().pretrained() \
      .setInputCols(["document",'lemma'])\
      .setOutputCol("embeddings")\
      .setCaseSensitive(False)

embeddingsSentence = SentenceEmbeddings() \
      .setInputCols(["document", "embeddings"]) \
      .setOutputCol("sentence_embeddings") \
      .setPoolingStrategy("AVERAGE")

classsifierdl = ClassifierDLApproach()\
      .setInputCols(["sentence_embeddings"])\
      .setOutputCol("class")\
      .setLabelColumn("Category")\
      .setMaxEpochs(10)\
      .setEnableOutputLogs(True)

clf_pipeline = Pipeline(
    stages=[document_assembler, 
            tokenizer,
            normalizer,
            stopwords_cleaner, 
            lemma, 
            glove_embeddings,
            embeddingsSentence,
            classsifierdl])

lemma_antbnc download started this may take some time.
Approximate size to download 907.6 KB
[OK!]
glove_100d download started this may take some time.
Approximate size to download 145.3 MB
[OK!]

In [ ]:
!rm -rf classifier_dl_pipeline_glove

In [ ]:
#clf_pipeline.save('/content/drive/MyDrive/John Snow Lbs/classifier_dl_pipeline_glove')

In [ ]:
clf_pipelineModel = clf_pipeline.fit(trainingData)

In [ ]:
df = clf_pipelineModel.transform(testData).select('Category','Text',"class.result").toPandas()
df.head()

,Category,Text,result
0,business,s korean credit card firm rescued south korea ...,[business]
1,tech,gamers snap up new sony psp gamers have bought...,[tech]
2,entertainment,row threatens hendrix museum plan proposals to...,[politics]
3,sport,federer claims dubai crown world number one ro...,[sport]
4,business,telegraph newspapers axe 90 jobs the daily and...,[tech]

In [ ]:
df

,Category,Text,result
0,business,s korean credit card firm rescued south korea ...,[business]
1,tech,gamers snap up new sony psp gamers have bought...,[tech]
2,entertainment,row threatens hendrix museum plan proposals to...,[politics]
3,sport,federer claims dubai crown world number one ro...,[sport]
4,business,telegraph newspapers axe 90 jobs the daily and...,[tech]
...,...,...,...
367,sport,jones files conte lawsuit marion jones has fil...,[politics]
368,entertainment,lopez misses uk charity premiere jennifer lope...,[entertainment]
369,tech,progress on new internet domains by early 2005...,[tech]
370,sport,davies favours gloucester future wales hooker ...,[sport]
371,business,cars pull down us retail figures us retail sal...,[business]

In [ ]:
df['result'] = df['result'].apply(lambda x: x[0])

In [ ]:
df

,Category,Text,result
0,business,s korean credit card firm rescued south korea ...,business
1,tech,gamers snap up new sony psp gamers have bought...,tech
2,entertainment,row threatens hendrix museum plan proposals to...,politics
3,sport,federer claims dubai crown world number one ro...,sport
4,business,telegraph newspapers axe 90 jobs the daily and...,tech
...,...,...,...
367,sport,jones files conte lawsuit marion jones has fil...,politics
368,entertainment,lopez misses uk charity premiere jennifer lope...,entertainment
369,tech,progress on new internet domains by early 2005...,tech
370,sport,davies favours gloucester future wales hooker ...,sport
371,business,cars pull down us retail figures us retail sal...,business

In [ ]:
from sklearn.metrics import classification_report, accuracy_score

print(classification_report(df.Category, df.result))
print(accuracy_score(df.Category, df.result))

               precision    recall  f1-score   support

     business       0.94      0.93      0.93        84
entertainment       0.93      0.92      0.92        60
     politics       0.85      0.90      0.88        62
        sport       1.00      0.97      0.98        97
         tech       0.91      0.93      0.92        69

     accuracy                           0.93       372
    macro avg       0.93      0.93      0.93       372
 weighted avg       0.93      0.93      0.93       372

0.9327956989247311

# sent_bert_use_cmlm_en_base Model

In [15]:
document = DocumentAssembler()\
    .setInputCol("Text")\
    .setOutputCol("document")

bert_cmlm = BertSentenceEmbeddings.pretrained('sent_bert_use_cmlm_en_base', 'en')\
    .setInputCols(["document"])\
    .setOutputCol("sentence_embeddings")

classsifierdl = ClassifierDLApproach()\
    .setInputCols(["sentence_embeddings"])\
    .setOutputCol("class")\
    .setLabelColumn("Category")\
    .setMaxEpochs(10)\
    .setEnableOutputLogs(True)\
    .setLr(0.001)

bert_cmlm_clf_pipeline = Pipeline(stages = [document,
                                            bert_cmlm,
                                            classsifierdl])

sent_bert_use_cmlm_en_base download started this may take some time.
Approximate size to download 391.6 MB
[OK!]

In [ ]:
! rm -r /root/annotator_logs

rm: cannot remove '/root/annotator_logs': No such file or directory

In [18]:
(trainingData, testDataset) = spark_df.randomSplit([0.75, 0.25], seed = 100)

In [20]:
bert_cmlm_pipelineModel = bert_cmlm_clf_pipeline.fit(trainingData)

In [ ]:
from sklearn.metrics import classification_report

preds = bert_cmlm_pipelineModel.transform(testDataset)

In [ ]:
preds_df = preds.select('Category','Text',"class.result").toPandas()

preds_df['result'] = preds_df['result'].apply(lambda x : x[0])

In [ ]:
print (classification_report(preds_df['Category'], preds_df['result']))

               precision    recall  f1-score   support

     business       0.95      0.98      0.96        84
entertainment       1.00      0.97      0.98        60
     politics       0.97      0.97      0.97        62
        sport       1.00      0.98      0.99        97
         tech       0.96      0.99      0.97        69

     accuracy                           0.98       372
    macro avg       0.98      0.98      0.98       372
 weighted avg       0.98      0.98      0.98       372

# NLP TEST

In [ ]:
!pip install nlptest

In [11]:
!pip install johnsnowlabs

  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880770 sha256=ac98da2b09f25b52150898f47f59bc862af572b418338e0ee01af9f325bdd9d7
  Stored in directory: /root/.cache/pip/wheels/ef/70/50/7882e1bcb5693225f7cc86698f10953201b48b3f36317c2d18
  Building wheel for databricks-cli (setup.py) ... done
  Created wheel for databricks-cli: filename=databricks_cli-0.17.6-py3-none-any.whl size=143237 sha256=60f22efa80c03719f291a1309f2d2e64dc734de3992eee0c6ff75f2e4f14bc45
  Stored in directory: /root/.cache/pip/wheels/7b/85/a1/37b9b24f55c1da8ea4795765de41713b8a2cccad89c866e26b
Successfully built pyspark databricks-cli
Installing collected packages: spark-nlp, py4j, dataclasses, svgwrite, pyspark, pyjwt, jedi, colorama, databricks-cli, spark-nlp-display, nlu, databricks-api, johnsnowlabs
  Attempting uninstall: spark-nlp
    Found existing installation: spark-nlp 4.3.2
    Uninstalling spark-nlp-4.3.2:
      Successfully uninstalled spark-nlp-4.3.2
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.5
    Uninstalling py4j-0.10.9.5:
      Successfully uninstalled py4j-0.10.9.5
  Attempting uninstall: pyspark
    Found existing installation: pyspark 3.3.0
    Uninstalling pyspark-3.3.0:
      Successfully uninstalled pyspark-3.3.0
Successfully installed colorama-0.4.6 databricks-api-0.8.0 databricks-cli-0.17.6 dataclasses-0.6 jedi-0.18.2 johnsnowlabs-4.4.4 nlu-4.2.0 py4j-0.10.9 pyjwt-2.6.0 pyspark-3.1.2 spark-nlp-4.4.1 spark-nlp-display-4.1 svgwrite-1.4

In [ ]:
trainDataset = trainDataset.toPandas()

In [ ]:
trainDataset = trainDataset.rename({'Category':'label'}, axis = 1)

In [ ]:
trainDataset

,ArticleId,Text,label
0,2,worldcom boss left books alone former worldc...,business
1,11,berlin cheers for anti-nazi film a german movi...,entertainment
2,15,moya emotional after davis cup win carlos moya...,sport
3,18,connors boost for british tennis former world ...,sport
4,19,japanese banking battle at an end japan s sumi...,business
...,...,...,...
1113,2201,uk pioneers digital film network the world s f...,tech
1114,2206,dance music not dead says fatboy dj norman coo...,entertainment
1115,2207,kennedy questions trust of blair lib dem leade...,politics
1116,2208,california sets fines for spyware the makers o...,tech
1117,2209,snicket tops us box office chart the film adap...,entertainment

In [ ]:
trainDataset.to_csv('/content/drive/MyDrive/John Snow Lbs/train.csv')

In [12]:
traindata = '/content/drive/MyDrive/John Snow Lbs/train.csv'

In [21]:
from nlptest import Harness
harness = Harness(task="text-classification", model=bert_cmlm_pipelineModel, data=traindata)

In [22]:
harness.configure(
{'defaults': {'min_pass_rate': 0.65},
 'tests': {'robustness': {'lowercase': {'min_pass_rate': 0.60}, 
                          'uppercase':{'min_pass_rate': 0.60},
                          'add_typo':{'min_pass_rate': 0.90}},
                          # 'add_contraction':{'min_pass_rate': 0.60},
                          # 'add_punctuation':{'min_pass_rate': 0.60},
                          # 'titlecase':{'min_pass_rate': 0.60}
          }
 }
 )

{'defaults': {'min_pass_rate': 0.65},
 'tests': {'robustness': {'lowercase': {'min_pass_rate': 0.6},
   'uppercase': {'min_pass_rate': 0.6},
   'add_typo': {'min_pass_rate': 0.9}}}}

In [24]:
harness.generate()

Generating testcases... (robustness): 100%|██████████| 1/1 [00:00<00:00,  5.92it/s]

In [25]:
harness.testcases()

,category,test_type,original,test_case,expected_result
0,robustness,lowercase,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldc...,business
1,robustness,lowercase,berlin cheers for anti-nazi film a german movi...,berlin cheers for anti-nazi film a german movi...,entertainment
2,robustness,lowercase,moya emotional after davis cup win carlos moya...,moya emotional after davis cup win carlos moya...,politics
3,robustness,lowercase,connors boost for british tennis former world ...,connors boost for british tennis former world ...,business
4,robustness,lowercase,japanese banking battle at an end japan s sumi...,japanese banking battle at an end japan s sumi...,politics
...,...,...,...,...,...
3349,robustness,add_typo,uk pioneers digital film network the world s f...,uk pioneers digital film network the world s f...,business
3350,robustness,add_typo,dance music not dead says fatboy dj norman coo...,dance music not dead says fatboy dj norman coo...,business
3351,robustness,add_typo,kennedy questions trust of blair lib dem leade...,kennedy questions trust of blair lib dem leade...,entertainment
3352,robustness,add_typo,california sets fines for spyware the makers o...,california sets fines for spyware the makers o...,politics
3353,robustness,add_typo,snicket tops us box office chart the film adap...,snicket tops us box office chart the film adap...,politics

In [26]:
save_dir = '/content/drive/MyDrive/John Snow Lbs/Harness_Test_Case'
harness.save(save_dir)

In [27]:
harness.run()

Running testcases... : 100%|██████████| 3354/3354 [1:28:38<00:00,  1.59s/it]

In [28]:
harness.report()

,category,test_type,fail_count,pass_count,pass_rate,minimum_pass_rate,pass
0,robustness,lowercase,0,1118,100%,60%,True
1,robustness,uppercase,0,1118,100%,60%,True
2,robustness,add_typo,134,984,88%,90%,False

In [29]:
harness.generated_results()

,category,test_type,original,test_case,expected_result,actual_result,pass
0,robustness,lowercase,worldcom boss left books alone former worldc...,worldcom boss left books alone former worldc...,business,business,True
1,robustness,lowercase,berlin cheers for anti-nazi film a german movi...,berlin cheers for anti-nazi film a german movi...,entertainment,entertainment,True
2,robustness,lowercase,moya emotional after davis cup win carlos moya...,moya emotional after davis cup win carlos moya...,politics,politics,True
3,robustness,lowercase,connors boost for british tennis former world ...,connors boost for british tennis former world ...,business,business,True
4,robustness,lowercase,japanese banking battle at an end japan s sumi...,japanese banking battle at an end japan s sumi...,politics,politics,True
...,...,...,...,...,...,...,...
3349,robustness,add_typo,uk pioneers digital film network the world s f...,uk pioneers digital film network the world s f...,business,business,True
3350,robustness,add_typo,dance music not dead says fatboy dj norman coo...,dance music not dead says fatboy dj norman coo...,business,business,True
3351,robustness,add_typo,kennedy questions trust of blair lib dem leade...,kennedy questions trust of blair lib dem leade...,entertainment,entertainment,True
3352,robustness,add_typo,california sets fines for spyware the makers o...,california sets fines for spyware the makers o...,politics,business,False
3353,robustness,add_typo,snicket tops us box office chart the film adap...,snicket tops us box office chart the film adap...,politics,politics,True

In [30]:
harness.augment("/content/drive/MyDrive/John Snow Lbs/train.csv", "/content/drive/MyDrive/John Snow Lbs/augmented_train.csv", inplace=False)

In [31]:
import pandas as pd
trainDataset_aug = pd.read_csv('/content/drive/MyDrive/John Snow Lbs/augmented_train.csv', header=None)

In [33]:

column_names = ['Text', 'Category']
trainDataset_aug.columns = column_names

In [34]:
trainDataset_aug

                                                   Text Category
0     worldcom boss  left books alone  former worldc...        b
1     berlin cheers for anti-nazi film a german movi...        e
2     moya emotional after davis cup win carlos moya...        s
3     connors boost for british tennis former world ...        s
4     japanese banking battle at an end japan s sumi...        b
...                                                 ...      ...
1672  satellite mapping aids darfur relief aid worke...        t
1673  stormy year for property insurers a string of ...        b
1674  royal couple watch nation s mood prince charle...        p
1675  standard life concern at lse bid standard life...        b
1676  roddick into san jose final andy roddick will ...        s

[1677 rows x 2 columns]

In [35]:
mapping_dict = {'s': 'sport', 't': 'tech', 'b': 'business', 'e': 'entertainment', 'p': 'politics'}
trainDataset_aug['Category'] = trainDataset_aug['Category'].replace(mapping_dict)

In [36]:
trainDataset_aug

                                                   Text       Category
0     worldcom boss  left books alone  former worldc...       business
1     berlin cheers for anti-nazi film a german movi...  entertainment
2     moya emotional after davis cup win carlos moya...          sport
3     connors boost for british tennis former world ...          sport
4     japanese banking battle at an end japan s sumi...       business
...                                                 ...            ...
1672  satellite mapping aids darfur relief aid worke...           tech
1673  stormy year for property insurers a string of ...       business
1674  royal couple watch nation s mood prince charle...       politics
1675  standard life concern at lse bid standard life...       business
1676  roddick into san jose final andy roddick will ...          sport

[1677 rows x 2 columns]

In [37]:
trainDataset_aug = spark.createDataFrame(trainDataset_aug)
trainDataset_aug.show()

+--------------------+-------------+
|                Text|     Category|
+--------------------+-------------+
|worldcom boss  le...|     business|
|berlin cheers for...|entertainment|
|moya emotional af...|        sport|
|connors boost for...|        sport|
|japanese banking ...|     business|
|mobile audio ente...|         tech|
|moya fights back ...|        sport|
|royal couple watc...|     politics|
|firefox browser t...|         tech|
|debate needed  on...|     politics|
|german growth goe...|     business|
|franz man seeks g...|entertainment|
|jamieson issues w...|     politics|
|england children ...|     politics|
|stock market eyes...|     business|
|standard life cut...|     business|
|court rejects $28...|     business|
|india power share...|     business|
|microsoft gets th...|         tech|
|tech helps disabl...|         tech|
+--------------------+-------------+
only showing top 20 rows

In [38]:
bert_cmlm_pipelineModel_aug = bert_cmlm_clf_pipeline.fit(trainDataset_aug)

In [39]:
from sklearn.metrics import classification_report

preds = bert_cmlm_pipelineModel.transform(testDataset)

In [53]:
preds_df = preds.select('Category','Text',"class.result").toPandas()

In [54]:
preds_df['result'] = preds_df['result'].apply(lambda x : x[0])

In [55]:
preds_df

,Category,Text,result
0,business,s korean credit card firm rescued south korea ...,business
1,tech,gamers snap up new sony psp gamers have bought...,tech
2,entertainment,row threatens hendrix museum plan proposals to...,entertainment
3,sport,federer claims dubai crown world number one ro...,sport
4,business,telegraph newspapers axe 90 jobs the daily and...,business
...,...,...,...
367,sport,jones files conte lawsuit marion jones has fil...,sport
368,entertainment,lopez misses uk charity premiere jennifer lope...,entertainment
369,tech,progress on new internet domains by early 2005...,tech
370,sport,davies favours gloucester future wales hooker ...,sport
371,business,cars pull down us retail figures us retail sal...,business

In [56]:
print(classification_report(preds_df['Category'], preds_df['result']))

               precision    recall  f1-score   support

     business       0.95      0.98      0.96        84
entertainment       1.00      0.98      0.99        60
     politics       0.97      0.97      0.97        62
        sport       1.00      0.98      0.99        97
         tech       0.97      0.99      0.98        69

     accuracy                           0.98       372
    macro avg       0.98      0.98      0.98       372
 weighted avg       0.98      0.98      0.98       372